{% extends 'AppTorneo/padre.html'%}
{% load static %}
            
{% block contenidoQueCambia %}  

<h2> Acerca de mí:  </h2>


<h5><p style =color:black>Soy Claudia Sanchez, Ingeniera en Sistemas, trabajo en Claro en el area de IT</h5>

<h5><p style =color:black>Tuve experiencia de trabajo en diversas areas de IT.</h5>

<h5><p style =color:black>Actualmente desarrollando una aplicacion para Torneos de Tenis ya que mi hijo es profesor de tenis y le resulta de mucha utilidad.</h5>

<h5><p style =color:black>Gracias por usar la aplicacion. </h5>

{% endblock %}