{% extends 'AppTorneo/padre.html'%}
{% load static %}

{% block contenidoQueCambia %}

<h1>Inicio</h1>
<p>Para realizar la carga de datos en las clases usar las siguientes url en el navegador:</p>
 
    <li> /AppTorneo/torneoFormulario          <p style =color:blue>    -> Para insertar datos de los torneos
    <li> /AppTorneo/listajugadoresFormulario  <p style =color:blue>    -> Para insertar datos de jugadores
    <li> /AppTorneo/torneojugadoresFormulario <p style =color:blue>    -> Para insertar datos de los jugadores inscriptos a un torneo
    <li> /AppTorneo/partidosFormulario        <p style =color:blue>    -> Para cargar resultados de un partido 
    <li> /AppTorneo/busquedaTorneo		 <p style =color:blue> -> Para buscar los datos de un torneo
</p>
{% endblock %}
