{% extends 'AppTorneo/padre.html'%}
{% load static %}

{% block contenidoQueCambia %}

<h2><p style =color:green> {{mensaje}}</h2>


<h1> <p style =color:black>Inicio</h1>
<h4> <p style =color:black>Se puede navegar el menu para consultar los datos y tambien, desde cada consulta se puede agregar nuevos datos de los Torneos.</h4>
 
  <h6> <p style =color:blue> - Jugadores: <p style =color:grey> Muestra toda la lista de jugadores que conocemos y tenemos agendados.
  <h6> <p style =color:blue> - Torneos: <p style =color:grey> Muestra la lista de Torneos que organizamos 
  <h6> <p style =color:blue> - Buscar Torneo: <p style =color:grey>  Busca los datos especificos de un torneo
  <h6> <p style =color:blue> - Torneo Jugadores: <p style =color:grey> Muestra la lista de Jugadores que se inscribieron en cada Torneo 
  <h6> <p style =color:blue> - Partidos: <p style =color:grey> Muestra la lista de Partidos jugados y sus resultados 
</p>
{% endblock %}
