{% extends 'AppTorneo/padre.html'%}
{% load static %}

{% block contenidoQueCambia %}

<h1>Inicio</h1>
<p>Para realizar la carga de datos en las clases usar las siguientes url en el navegador:</p>
 
    <li> /AppTorneo/altatorneo             <p style =color:blue>    -> Para insertar datos de los torneos
    <li> /AppTorneo/altajugadores          <p style =color:blue>    -> Para insertar datos de jugadores
    <li> /AppTorneo/altajugadorestorneo    <p style =color:blue>    -> Para insertar datos de los jugadores inscriptos a un torneo
    <li> /AppTorneo/altapartidos           <p style =color:blue>    -> Para cargar resultados de un partido 
    <li> /AppTorneo/busquedaTorneo     	   <p style =color:blue> -> Para buscar los datos de un torneo
</p>
{% endblock %}
