<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso a Torneos de Tenis</title>
</head>
<body>
    <h1>Ingrese Usuario y contraseña para entrar a la aplicacion de Torneos</h1>

    {% load static %}
    <img src="{% static 'AppTorneo/assets/img/lasallelogonvo.jpg' %}"   height="100"  alt="">
    
    Si no tiene usuario registrarse aqui: <a class="navbar-brand" href="{% url 'Register' %}">Registrate</a> 

    <h2><p style =color:green> {{mensaje}}</h2>
    
        <form action="" method="POST">
            {% csrf_token %}
                {{ form.as_p }}
    
            <button type="submit">Iniciar sesion</button>
    
        </form>
    
</body>
</html>
